div{
    background-color: darkslategray;
    text-align: center;
    padding: 15px;
    margin: 15px;
}
button{
    font-size: 18px;
    padding: 14px 25px;
}
#food-image{
    width: 500px;
    height: 300px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black  ;
}