body{
    margin-bottom: 500px;
}
div{
    background-color: darkslategray;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: white;
}
button{
    font-size: 18px;
    padding: 14px 25px;
}
input[type='text'],input[type='password'],select{
    font-size: 20px;
    height: 35px;
    outline: none;
}
input[type='checkbox']{
    width: 25px;
    height: 25px;
}
textarea{
    font-size: 20px;
    font-family: "Comic Sans MS", sans-serif;
}